.fade2-enter-active,
.fade2-leave-active {
  transition: opacity 0.2s ease;
}

.fade2-enter-from,
.fade2-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.stepAnswer.fade-enter-active {
  transition-delay: 0.2s;
}

.stepAnswer.fade-enter-from {
  opacity: 0;
  transform: scale(0.9);
}

.bigger-enter-active,
.bigger-leave-active {
  transition: all 1s ease;
}

.bigger-enter-from {
  opacity: 0;
  transform: scale(0.9);
}

.bigger-enter-to {
  opacity: 1;
  transform: scale(1);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.4s ease;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(100%);
}

.slide-up-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(100%);
}
