$background: #fff5ea;
$lightBackground: #f1e3d3;
$darkBackground: #d3b39d;
$mainBackground: linear-gradient(135deg, $lightBackground, $darkBackground);
$infoBackgroundColor: #f0f8ff4d;
$mainBrownColor: #54322f;
$lightBrownColor: #654744;
$mainOrangeColor: #fc9828;
$darkOrangeColor: #ca7a20;
$grayColor: #3a3a3a;
$lightGrayColor: #6b6b6b;
$whiteColor: #fff;
$errorColor: #b00020;

:root {
  --mainBrownColor: #54322f;
  --grayColor: #3a3a3a;
}
