$mainBackground: linear-gradient(135deg, #f1e3d3, #d3b39d);
$background: #fff5ea;
$infoBackgroundColor: #f0f8ff4d;
$mainBrownColor: #54322f;
$lightBrownColor: #654744;
$mainOrangeColor: #fc9828;
$darkOrangeColor: #ca7a20;
$grayColor: #3a3a3a;
$lightGrayColor: #6b6b6b;
$whiteColor: #ffffff;
$errorColor: #b00020;
